aws_region              = "{{ aws_region }}"
aws_profile             = "{{ aws_profile | default('') }}"
cluster_name            = "{{ cluster_name }}"
base_domain             = "{{ base_domain }}"
vpc_cidr                = "{{ vpc_cidr }}"
rhcos_ami               = "{{ rhcos_ami }}"
infra_id                = "{{ infra_id }}"
bootstrap_ign_path      = "{{ install_dir }}/ocp/bootstrap.ign"
master_ign_path         = "{{ install_dir }}/ocp/master.ign"
worker_ign_path         = "{{ install_dir }}/ocp/worker.ign"
enable_dual_nic         = {{ enable_dual_nic | default(false) | lower }}
bootstrap_instance_type = "{{ bootstrap_instance_type }}"
master_instance_type    = "{{ master_instance_type }}"
master_count            = {{ master_count }}
worker_instance_type    = "{{ worker_instance_type }}"
worker_count            = {{ worker_count }}
root_volume_size        = {{ root_volume_size }}
root_volume_type        = "{{ root_volume_type }}"
s3_force_destroy        = {{ s3_force_destroy | default(true) | lower }}
allowed_ssh_cidrs       = {{ allowed_ssh_cidrs | default([]) | to_json }}
allowed_api_cidrs       = {{ allowed_api_cidrs | default(["0.0.0.0/0"]) | to_json }}
