aws_region   = "{{ aws_region }}"
aws_profile  = "{{ aws_profile | default('') }}"
cluster_name = "{{ cluster_name }}"
base_domain  = "{{ base_domain }}"
vpc_cidr     = "{{ vpc_cidr }}"
rhcos_ami    = "{{ rhcos_ami }}"
